{% extends 'base.html' %}
{% block title %}Selenium practice - context menu{% endblock %}
{% block additional_js %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block content %}
<article class="bg-white p-4 shadow-md">
    <div id="contextMenuZone" class="bg-gray-100" style="width: 100%; height: 60vh; position: relative;">
        <h1 class="text-2xl font-semibold mb-4" id="title-id">Click the right button here!</h1>
    </div>

    <!-- Custom context menu -->
    <div class="custom-context-menu" id="customContextMenu">
        <button onclick="confirmAction()">Generuj SUPER</button>
        <button onclick="closeContextMenu()">Close menu</button>
    </div>
    <div class="flex justify-center mt-4">
        <div id="loader" class="loader"></div>
        <div id="message" class="message"></div>
    </div>
</article>
<script>
  const menuZone = document.getElementById('contextMenuZone');
  const customContextMenu = document.getElementById('customContextMenu');

  // Function to open the custom context menu
  menuZone.addEventListener('contextmenu', function(e) {
    e.preventDefault();
    customContextMenu.style.top = `${e.clientY}px`;
    customContextMenu.style.left = `${e.clientX}px`;
    customContextMenu.style.display = 'block';
  });

  // Function to close the custom context menu
  function closeContextMenu() {
    customContextMenu.style.display = 'none';
  }

  // Function to confirm action
  function confirmAction() {
    var messageDiv = document.getElementById('message');
    var loader = document.getElementById('loader');

    loader.style.display = 'block';
    messageDiv.style.display = 'none';

    setTimeout(function() {
      loader.style.display = 'none';
      messageDiv.style.display = 'block';
      messageDiv.style.color = 'black';
      const message = document.createElement('p');
      message.textContent = 'SUPER!';
      messageDiv.appendChild(message);

      closeContextMenu();
    }, 1000);
  }

  // Close custom context menu on click outside
  window.addEventListener('click', function(e) {
    if (!customContextMenu.contains(e.target)) {
      closeContextMenu();
    }
  });

  // Prevent the default context menu from opening
  window.oncontextmenu = function(event) {
    event.preventDefault();
    event.stopPropagation();
    return false;
  };
</script>
{% endblock %}