{% extends 'base.html' %}
{% block title %}Selenium practice - Magazine shop - drag&drop{% endblock %}
{% block additional_js %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.css"/>{% endblock %}

{% block content %}
<body class="bg-gray-100">
<article class="bg-white p-4 shadow-md">
    <h1 class="text-2xl font-semibold mb-4" id="title-id">Move all products from warehouse to shop.</h1>
    <div class="flex gap-4">
        <!-- Magazyn -->
        <div class="w-1/2 p-4 bg-white shadow-lg">
            <h2 class="font-bold text-xl mb-2">Warehouse</h2>
            <div id="warehouse" class="drag-area bg-blue-100 p-2">
                {% for item in ['Sofa', 'Ultra Desk', 'TV'] %}
                <div class="p-2 bg-gray-200 my-2 rounded" id="{{ item }}">
                    {{ item }}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Sklep -->
        <div class="w-1/2 p-4 bg-white shadow-lg">
            <h2 class="font-bold text-xl mb-2">Shop</h2>
            <div id="shop" class="drag-area bg-blue-100 p-2">
            </div>
        </div>
    </div>
    <br>
    <div class="flex justify-center mt-4">
        <button onclick="verifyShop()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Weryfikuj
        </button>
    </div>
    <div class="flex justify-center mt-4">
        <div id="loader" class="loader"></div>
        <div id="message" class="message"></div>
    </div>
</article>

<!-- Dołącz dragula JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js"></script>
<script>
        dragula([document.getElementById('warehouse'), document.getElementById('shop')])
        .on('drop', function (el) {
        });

        function verifyShop() {
            var warehouse = document.getElementById('warehouse');
            var messageDiv = document.getElementById('message');
            var loader = document.getElementById('loader');

            // Pokaż kółko ładowania
            loader.style.display = 'block';
            messageDiv.style.display = 'none';

            // Ustawienie opóźnienia przed weryfikacją (symulacja czasu ładowania)
            setTimeout(function() {
                // Ukryj kółko ładowania
                loader.style.display = 'none';

                if (warehouse.children.length === 0) {
                messageDiv.textContent = 'W sklepie znajdują się wszystkie elementy!';
                messageDiv.style.display = 'block';
                messageDiv.style.color = 'green';
                } else {
                messageDiv.textContent = 'W magazynie znajdują się elementy!';
                messageDiv.style.display = 'block';
                messageDiv.style.color = 'red';
                }
            }, 1000); // Opóźnienie wynosi 1 sekundę (1000 milisekund)
            }


</script>

</body>
{% endblock %}