{% extends 'base.html' %}
{% block title %}Selenium practice - Simple actions{% endblock %}
{% block additional_js %}{% endblock %}

{% block content %}
<article class="bg-white p-4 shadow-md">
    <h1 class="text-2xl font-semibold mb-4" id="title-id">Crash the egg!</h1>
    <img id="changeableImage" src="{{ first_image }}" alt="Here should be an egg image" class="mx-auto max-w-xs rounded shadow-lg transition duration-300 ease-in-out" ondblclick="changeImage()">

    <script>
        function changeImage() {
            var image = document.getElementById('changeableImage');
            if (image.src.match("{{ first_image }}")) {
                image.src = "{{ second_image }}";
            } else {
                image.src = "{{ first_image }}";
            }
        }
    </script>
</article>
{% endblock %}