{% extends 'base.html' %}
{% block title %}Selenium practice - Simple actions{% endblock %}
{% block additional_js %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css" rel="stylesheet"/>{% endblock %}

{% block content %}
    <article class="bg-white p-4 shadow-md">
        <h1 class="text-3xl font-semibold mb-4">Choose your actually mood.</h1><br>
        <div class="w-full px-4">
            <input type="range" min="1" max="5" value="3"
                   class="w-full h-2 bg-blue-200 rounded-lg appearance-none cursor-pointer" id="myRange">
            <div class="flex justify-between text-xl mt-4">
                <span>😭</span>
                <span>😞</span>
                <span>😐</span>
                <span>🙂</span>
                <span>😊</span>
            </div>
            <p class="text-center text-2xl mt-2">Mood: <span  class="font-bold" id="mood"></span></p>
        </div>

        <script>
            const slider = document.getElementById("myRange");
            const moodText = document.getElementById("mood");
            const moods = ["Very sad", "Sad", "Neutral", "Happy", "Master of HAPPINESS"];

            moodText.innerHTML = moods[slider.value - 1];

            slider.oninput = function () {
                moodText.innerHTML = moods[this.value - 1];
            }
        </script>
    </article>
{% endblock %}