{% extends 'base.html' %}
{% block title %}Checkboxes and radio buttons{% endblock %}
{% block additional_js %}{% endblock %}

{% block content %}
    <article class="bg-white p-4 shadow-md">
        <div class="container mx-auto bg-white p-6 rounded shadow-md">
            <h1 class="text-3xl font-semibold mb-4">Checkboxes</h1>

            <form>
                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox h-5 w-5" id="fruit1">
                        <span class="ml-2">Apple</span>
                    </label>
                </div>

                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox h-5 w-5" id="fruit2">
                        <span class="ml-2">Banana</span>
                    </label>
                </div>

                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox h-5 w-5" id="fruit3">
                        <span class="ml-2">Peach</span>
                    </label>
                </div>

                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox h-5 w-5" id="fruit4" checked>
                        <span class="ml-2">Orange (by default)</span>
                    </label>
                </div>

                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox h-5 w-5" id="fruit5" checked disabled>
                        <span class="ml-2">Lemon (locked)</span>
                    </label>
                </div>
                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox h-5 w-5" id="fruit6" disabled>
                        <span class="ml-2">Pineapple (nobody likes pineapple)</span>
                    </label>
                </div>
            </form>

            <div class="separator" style="padding-bottom: 10px"></div>
            <h1 class="text-3xl font-semibold mb-4">Radio buttons</h1>
            <h2 class="text-2xl font-semibold mb-4">Directions</h2>
            <div class="cross">
                <div class="radio-container">
                    <input type="radio" name="direction" class="form-radio h-5 w-5" id="up">
                    <label for="up" class="mt-2">Góra</label>
                </div>

                <div class="horizontal">
                    <div class="radio-container">
                        <input type="radio" name="direction" class="form-radio h-5 w-5" id="left">
                        <label for="left" class="mt-2">Lewo</label>
                    </div>

                    <div class="radio-container">
                        <input type="radio" name="direction" class="form-radio h-5 w-5" id="right">
                        <label for="right" class="mt-2">Prawo</label>
                    </div>
                </div>

                <div class="radio-container">
                    <input type="radio" name="direction" class="form-radio h-5 w-5" id="down">
                    <label for="down" class="mt-2">Dół</label>
                </div>
            </div>
            <h2 class="text-2xl font-semibold mb-4">Are you satisfied?</h2>
            <form>
                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="choice" class="form-radio h-5 w-5" id="yes" disabled checked>
                        <span class="ml-2">Tak</span>
                    </label>
                </div>

                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="choice" class="form-radio h-5 w-5" id="no" disabled>
                        <span class="ml-2">Nie</span>
                    </label>
                </div>
            </form>
        </div>
    </article>
{% endblock %}