{% extends 'base.html' %}
{% block title %}Selenium practice - Login form{% endblock %}
{% block additional_js %}{% endblock %}

{% block content %}
    <article class="bg-white p-4 shadow-md">
        <div class="container mx-auto bg-white p-6 rounded shadow-md">
            <h1 class="text-3xl font-semibold mb-4">Try "is..." methods</h1>
            <h2 class="text-2xl font-semibold mb-4">Check if element is selected</h2>
            <form>
                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox h-5 w-5" id="checked_checkbox">
                        <span class="ml-2">Checkbox</span>
                    </label>
                </div>
            </form>
            <div class="separator"></div>
            <h2 class="text-2xl font-semibold mb-4">Check if element is not hidden</h2>
            <button id="message_button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Remove hidden
            </button>
            <p id="message" class="mt-4" hidden>Text is now visible!</p>
            <div class="separator"></div>
            <h2 class="text-2xl font-semibold mb-4">Check if button is enabled</h2>
            <div class="mt-4">
                <button id="disabled_button" disabled class="bg-gray-500 text-white font-bold py-2 px-4 rounded">
                    Disabled button
                </button>
            </div>
            <script>
                document.getElementById('message_button').addEventListener('click', function () {
                    document.getElementById('message').removeAttribute('hidden');
                });
            </script>
        </div>
    </article>
{% endblock %}