<div class="bg-gray-200 p-4">
    <nav class="max-w-4xl mx-auto">
        <ol class="list-none p-0 inline-flex">
        {% for link in breadcrumb_links %}
            <li class="flex items-center">
                <a href="{{ link.url }}" class="text-gray-600">{{ link.label }}</a>
                {% if not loop.last %}<span class="mx-2"> &gt; </span>{% endif %}
            </li>
        {% endfor %}
        </ol>
    </nav>
</div>
