<header class="bg-blue-500 p-4 text-white">
    <nav class="flex justify-between items-center">
        <div>
            <a href="/" class="text-white font-bold text-xl">
                <img src="{{ logo }}" alt="Logo" class="h-12">
            </a>
        </div>
        <div>
            <button id="menu-toggle" class="text-white p-2 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
    </nav>
</header>