body {
    background-color: #58ce31;
    font-family: sans-serif;
    color: #333;
}

header {
    background-color: #3182ce;
    color: #fff;
    padding: 1rem;
}

header a {
    font-size: 1.5rem;
}

#menu-toggle {
    background-color: #3182ce;
}

#menu {
    background-color: #3182ce;
    color: #fff;
}

.breadcrumb {
    background-color: #f3f4f6;
    padding: 1rem;
}

.breadcrumb a {
    color: #6b7280;
}
footer {
    margin-top: auto;
}
.drag-area {
    height: 200px;
    overflow-y: auto;
}
.message {
    display: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
/* Styl dla kółka ładowania */
.loader {
    display: none;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
/* Animacja dla kółka ładowania */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#loginError {
    width: 100%;
    background-color: #ffffe0;
    border: 1px solid red;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    display: none;
}
/* Styles for the checkboxes i radio buttons */
.separator {
    border-bottom: 1px solid #e2e8f0;
    margin: 50px 0;
}
.cross {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.horizontal {
    display: flex;
    justify-content: center;
}

.radio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(135deg, #6dd5ed, #2193b0);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Style for the context menu zone */
#contextMenuZone {
    width: 100%;
    height: 100vh;
    position: relative;
    border: 2px solid #007bff; /* Blue border */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); /* Soft blue shadow */
    background: #f8f9fa; /* Light background */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.custom-context-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,.15);
}

.custom-context-menu button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background: none;
    text-align: left;
}

.custom-context-menu button:hover {
    background-color: #f7f7f7;
}