{% extends 'base.html' %}
{% block title %}Super duper strona - podstrona{% endblock %}

{% block content %}
    <article class="bg-white p-4 shadow-md">
        <h1 class="text-3xl font-semibold mb-4" name="title-name">Article title for class locators</h1>
        <div class="mt-4">
            <p class="dummy">Here it is paragraph with dummy class. Paragraph below has other class.</p>
            <br>
            <p class="cookies">COOKIES!</p>
        </div>
    </article>
{% endblock %}