{% extends 'base.html' %}
{% block title %}Super duper strona - podstrona{% endblock %}

{% block content %}
    <article class="bg-white p-4 shadow-md">
        <h1 class="text-3xl font-semibold mb-4" id="title-id">Article title for ID locator</h1>
        <div class="mt-4">
            <p id="content">Lorem ipsum dolor sit amet ID!</p>
        </div>
    </article>
{% endblock %}