{% extends 'base.html' %}
{% block title %}Super duper strona - podstrona{% endblock %}

{% block content %}
    <article class="bg-white p-4 shadow-md">
        <h1 class="text-3xl font-semibold mb-4" id="title-id">Article title for LINK locators</h1>
        <div class="mt-4">
            <p id="content">Try to locate one of below links:</p><br>
            <a href="#" class="hover:underline">IMPORTANT LINK!</a><br>
            <a id="goBackButton" class="hover:underline">Back</a>

        </div>
    </article>
    <script>
        document.getElementById('goBackButton').addEventListener('click', function () {
            window.history.back();
        });
    </script>
{% endblock %}