{% extends 'base.html' %}
{% block title %}locators{% endblock %}

{% block content %}
    <h1 class="text-2xl font-semibold mb-4">Lokatory - intro</h1>
    <ul class="list-disc list-inside pl-4">
        <li><a href="/locators-id" class="hover:underline">ID</a></li>
        <li><a href="/locators-name" class="hover:underline">Name</a></li>
        <li><a href="/locators-class" class="hover:underline">Class</a></li>
        <li><a href="/locators-tag-name" class="hover:underline">Tag name</a></li>
        <li><a href="/locators-link-text" class="hover:underline">Link text</a></li>
    </ul>
{% endblock %}
