{% extends 'base.html' %}
{% block title %}Super duper strona - podstrona{% endblock %}

{% block content %}
    <article class="bg-white p-4 shadow-md">
        <h1 class="text-3xl font-semibold mb-4" name="title-name">Article title for name locator</h1>
        <div class="mt-4">
            <p name="content">Lorem ipsum dolor sit amet <b>NAME!</b></p>
        </div>
    </article>
{% endblock %}