{% extends 'base.html' %}
{% block title %}Super duper strona - podstrona{% endblock %}

{% block content %}
    <article class="bg-white p-4 shadow-md">
        <h1 class="text-3xl font-semibold mb-4" name="title-name">Article title for tag locators</h1>
        <h2 class="text-2xl font-semibold mb-4">TAG H2</h2>
        <div class="mt-4">
            <h3 class="text-1xl font-semibold mb-4">TAG H3</h3>
            <p>Tag paragraph</p>
            <a href="#" class="hover:underline">Tag link</a>
        </div>
    </article>
{% endblock %}