<html lang="pl">
<head>
    <title>Selenium practice - {% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block additional_js %}{% endblock %}
    <link rel="shortcut icon" href="{{ logo }}">
</head>

<body class="bg-gray-100 font-sans">

{% include 'core_elements/navbar.html' %}

<nav id="menu" class="hidden bg-blue-500 text-white p-4">
    <ul class="space-y-4">
        <li><a href="/" class="hover:underline">Strona główna</a></li>
        <li><a href="/produkty" class="hover:underline">Produkty</a></li>
        <li><a href="/kontakt" class="hover:underline">Kontakt</a></li>
    </ul>
</nav>

{% block breadcrumb %}
    {% with breadcrumb_links=breadcrumb_links %}
        {% include 'core_elements/breadcrumb.html' %}
    {% endwith %}
{% endblock %}

<div class="max-w-4xl mx-auto p-4">
{% block content %}

{% endblock %}
</div>

{% include 'core_elements/footer.html' %}


<script>
    document.getElementById('menu-toggle').addEventListener('click', function () {
        var menu = document.getElementById('menu');
        menu.classList.toggle('hidden');
    });
</script>

</body>
</html>