{% extends 'base.html' %}
{% block title %}main page{% endblock %}

{% block content %}
    <h1 class="text-2xl font-semibold mb-4 hover:underline"><a href="/locators-intro">Locators - intro</a></h1>
    <ul class="list-disc list-inside pl-4">
        <li><a href="/locators-id" class="hover:underline">ID</a></li>
        <li><a href="/locators-name" class="hover:underline">Name</a></li>
        <li><a href="/locators-class" class="hover:underline">Class</a></li>
        <li><a href="/locators-tag-name" class="hover:underline">Tag name</a></li>
        <li><a href="/locators-link-text" class="hover:underline">Link text</a></li>
    </ul>
    <br>
    <h1 class="text-2xl font-semibold mb-4"><a href="/#">Operations on WebElements <b>TODO!</b></a></h1>
    <ul class="list-disc list-inside pl-4">
        <li><a href="/login-form" class="hover:underline">Login form</a></li>
        <li><a href="/checkers" class="hover:underline">Checkers</a></li>
        <li><a href="/checkboxes-radiobuttons" class="hover:underline">Checkboxes and radio buttons</a></li>
        <li><a href="/dropdowns" class="hover:underline">Dropdowns<b>TODO!</b></a></li>
    </ul>
    <br>
    <h1 class="text-2xl font-semibold mb-4"><a href="/#">Locators part 2 <b>TODO!</b></a></h1>
    <ul class="list-disc list-inside pl-4">
        <li><a href="/random-number" class="hover:underline">Random number - CSS</a> <b>TODO!</b></li>
        <li><a href="/product-table" class="hover:underline">Product table - XPATH</a> <b>TODO!</b></li>
        <li><a href="/#" class="hover:underline">Form example</a> <b>TODO!</b></li>
    </ul>
    <br>
    <h1 class="text-2xl font-semibold mb-4 pl-4"><a href="/#">Class Actions</a></h1>
    <ul class="list-disc list-inside pl-4">
        <li><a href="/simple-actions" class="hover:underline">Simple actions</a></li>
        <li><a href="/context-menu" class="hover:underline">Context menu</a></li>
        <li><a href="/drag-n-drop" class="hover:underline">Magazine shop - drag&drop</a></li>
        <li><a href="/slider" class="hover:underline">Slider</a></li>
    </ul>
{% endblock %}
