{% extends 'base.html' %}
{% block title %}Selenium practice - Login form{% endblock %}
{% block additional_js %}{% endblock %}

{% block content %}
<article class="bg-white p-4 shadow-md">
    <div class="mb-4">
        <strong> Available usernames: </strong>
        <ul class="list-disc list-inside">
            <li class="pl-4" style="font-family:consolas,'Courier New', monospace">practitioner</li>
            <li class="pl-4" style="font-family:consolas,'Courier New', monospace">practitioner_no_permission</li>
        </ul>
        <strong> Password: </strong>
        <ul class="list-disc list-inside">
            <li class="pl-4" style="font-family:consolas,'Courier New', monospace">c0rr3ctP4$$word</li>
        </ul>
    </div>
    <div class="container bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Username
            </label>
            <input id="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Username">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="******************">
        </div>
        <button id="button" onclick="login()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
            Login
        </button>
        <p id="loginError" class="text-red-500 text-sm mt-2 loginError"></p>
    </div>

    <script>
        function login() {
            var errorMessage = document.getElementById('loginError');
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;

            if (!username || !password) {
                errorMessage.textContent = 'Please enter your username and password.';
                errorMessage.style.display = 'block';
                return;
            }

            if(username === 'practitioner' && password === 'c0rr3ctP4$$word') {
                window.location.href = 'success-login';
            } else if(username === 'practitioner_no_permission' && password === 'c0rr3ctP4$$word') {
                errorMessage.textContent = 'No access for this account.';
                errorMessage.style.display = 'block';
            } else {
                errorMessage.textContent = 'Incorrect login data.';
                errorMessage.style.display = 'block';
            }
        }
    </script>
</article>
{% endblock %}