{% extends 'base.html' %}
{% block title %}Selenium practice - Simple actions{% endblock %}
{% block additional_js %}{% endblock %}

{% block content %}
<article class="bg-white p-4 shadow-md">
    <h1 class="text-3xl font-semibold mb-4" id="status">>LOGIN SUCCESSFULLY!</h1>
    <img src="{{ logged_in_image }}" alt="Here should be success png but something went wrong" class="mx-auto w-full h-auto max-w-lg rounded shadow-lg transition duration-300 ease-in-out">
</article>

{% endblock %}