{% extends 'base.html' %}
{% block title %}Selenium practice - Simple actions{% endblock %}
{% block additional_js %}{% endblock %}

{% block content %}
    <article class="bg-white p-4 shadow-md">
        <h1 class="text-3xl font-semibold mb-4">Your random number is...</h1>
        <div class="number-container" id="numberBox"></div>
        <script>
            function generateRandomNumber() {
                return Math.floor(Math.random() * 10) + 1;
            }
            document.addEventListener('DOMContentLoaded', () => {
                const numberBox = document.getElementById('numberBox');
                numberBox.textContent = generateRandomNumber();
                numberBox.removeAttribute('id');
            });
        </script>
    </article>
{% endblock %}